* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

h1 {
  font-family: "Avengeance Mightiest Avenger";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
