.benefits {
  background-color: $main_color;
  padding: 100px 0;
  text-align: center;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__item {
    background: #fff;
    height: 250px;
    padding-top: 30px;
    border-radius: 5px;
    margin: 10px
}

.benefit__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 3px solid $main_color;
    width: 45px;
    top: 120%;
    left: 50%;
    transform: translate(-50%);
  }
}


.benefit__description {
    font-size: 12px;
    margin-top: 20px;
}