@mixin button ($color, $bgColor, $verticalPadding, $horizontalPadding, $fontSize) {
  color: $color;
  background: $bgColor;
  border-radius: 90px;
  padding: $verticalPadding $horizontalPadding;
  text-align: center;
  border: none;
  font-size: $fontSize;
  transition: 0.1s 0.1s ease-in-out;

  &:hover {
    background: darken($bgColor, 5);
    transform: scale(1.2);
  } 
}
