.contact {
  min-height: 70vh;
  padding: 100px 0;
  background-color: $second_color;
  display: flex;
  align-items: center;
  color: #fff;

  @media (max-width: 991px) {
    text-align: center;
  }
}

.contact__button {
  @include button(#fff, $main_color, 8px, 28px, 12px);
  margin-bottom: 20px;
}

.contact__number {
  font-family: "Avengeance Mightiest Avenger";
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.contact_opening-hours,
.contact__address {
  position: relative;
  font-weight: 200;
  font-size: 14px;

  @media (min-width: 992px) {
    text-align: left;
    margin-left: 80px;
  }

  @media (max-width: 390px) {
    text-align: right;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: -10%;
    left: -16%;
  }
}

.contact_opening-hours::before {
  background: no-repeat url("../../assets/clock.svg");
  background-size: contain;

  @media (max-width: 991px) {
    left: 0;
  }
}

.contact__address::before {
  background: no-repeat url("../../assets/marker.svg");
  background-size: contain;
  left: -14%;

  @media (max-width: 991px) {
    left: 1%;
  }
}

.contact__line {
  background-color: #fff;
  width: 400px;
  opacity: 0.3;
  margin: 30px 0px;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.contact__social-media button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: $second_color;
  font-size: 20px;
  margin: 20px 8px;
  transition: 0.1s 0.1s ease-in-out;

  &:hover {
    transform: scale(1.2);
    color: $main_color;
  }
}

.figure__map {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: no-repeat url("../../assets/map_marker.png");
    background-size: contain;
    top: 45%;
    left: 51%;

    @media (max-width: 991px) {
      top: 48%;
    }

    @media (max-width: 575px) {
      top: 41%;
    }
  }
}
