.footer {
  padding: 100px 0 0 0;
  background: url("../../assets/background-1.png");
  background-size: contain;

  @media (max-width: 991px) {
    text-align: center;
  }
}

.footer__paragraph {
  line-height: 1.5;
  font-size: 14px;
}

.footer__header {
  color: $second_color;
  font-family: "Avengeance Mightiest Avenger";
  font-size: 16px;
  margin-bottom: 40px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 3px solid $main_color;
    width: 45px;
    top: 120%;
    left: 0;

    @media (max-width: 991px) {
        left: 50%;
        transform: translate(-50%);
    }
  }
}

.footer__payment img {
  height: 40px;
}

.footer__navigation {
  @media (max-width: 991px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__navigation__list {
  padding: 0;

  &:first-of-type {
    padding-right: 60px;
  }

  a {
    color: #000;
    font-size: 10px;
    text-decoration: none;
    transition: 0.1s 0.1s ease-in-out;

    &:hover {
      border-bottom: 3px solid $second_color;
    }
  }
}

.footer__images img {
  margin: 5px 5px;
  cursor: pointer;
  height: 65px;

  &:hover {
    transform: scale(1.2);
  }
}

.footer__copyright {
  text-align: center;
}
