.food-categories {
  text-align: center;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin header_decoration($top) {
  position: relative;
  font-size: 2rem;
  color: $second_color;
  margin-bottom: 25px;

  &::after {
    content: "";
    background: no-repeat url("../../assets/Brush_1_.svg");
    background-size: contain;
    position: absolute;
    height: 10px;
    width: 280px;
    top: $top;
    left: 50%;
    transform: translate(-50%);
  }
}

.food-categories__header {
  @include header_decoration(45px);
}

.food-categories__description {
  font-size: 14px;
}

.food-categories__list {
  width: 100%;
}

.food-categories__item {
  margin-top: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.1s 0.1s ease-in-out;

  &:hover {
    box-shadow: 0px 15px 15px #00000012;
    border-radius: 5px;
  }

  figure img {
    height: 60%;
  }

  figcaption {
    margin-top: 25px;
    font-size: 12px;
  }
}
