.guarantee {
  background-color: $main_color;
  background-image: url("../../assets/pizza-man.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  @media (min-width: 992px) {
    justify-content: flex-end;
  }
}

.guatantee__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 992px) {
    align-items: center;
    text-align: center;
  }
}

.guarantee__header {
  background: no-repeat url("../../assets/guarantee-decoration.svg");
  background-size: contain;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 30px;

  @media (min-width: 992px) {
    padding-left: 100px;
  }

  @media (max-width: 730px) {
    justify-content: center;
    background-size: cover;
    width: 100%;
  }

  @media (min-width: 730px) and (max-width: 992px) {
    justify-content: center;
    background-position-x: right;
    width: 100%;
  }
}

.guarantee__header__text {
  font-size: 2rem;
  color: #fff;
  position: relative;
  z-index: 2;
}

.guarantee__paragraph {
  font-size: 14px;
  color: #fff;
  margin-top: 45px;
  letter-spacing: 0.6px;

  @media (min-width: 992px) {
    padding-left: 100px;
  }
}
