.happy-hours {
  background: no-repeat url("../../assets/2663738.png");
  background-size: cover;
  background-position-x: 50%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 992px) {
      justify-content: center;
      text-align: center;
  }
}

.happy-hours__timer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 992px) {
        width: 30%;
    }
}

.timer__item {
    font-family: "Avengeance Mightiest Avenger";
    position: relative;
    width: 50px;
    z-index: 2;
    text-align: center;

    p {
        font-size: 30px;
        margin-top: 10px;
        line-height: 25px;

        span {
            font-size: 10px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 45px;
        background-color: $main_color;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
