.main {
  background: no-repeat url("../../assets/jumbotron_background.png");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;

  @media (max-width: 992px) {
    background-position: center;
    text-align: center;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.company__logo img {
  height: 100px;
  margin-top: 30px;

  @media (min-width: 992px) {
    margin-left: 45px;
    margin-top: -55px;
  }
}

.main__header {
  font-size: 4rem;
  margin-bottom: 0;
  padding-top: 110px;
  letter-spacing: 3.5px;

  @media (max-width: 576px) {
    padding-top: 50px;
  }

  @media (min-width: 992px) {
    margin-left: 80px;
  }
}

.main__paragraph__container {
  background: no-repeat url("../../assets/yellow-streak.svg");
  background-position-y: -6px;
  background-size: contain;
  height: 120px;
  padding-top: 30px;
  box-sizing: border-box;

  @media (min-width: 768px) and (max-width: 992px) {
    background-position-x: right;
  }

  @media (max-width: 768px) {
    background-size: cover;
    margin: 0 -15px;
  }
}

.main__paragraph {
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-bottom: 65px;
  position: relative;
  z-index: 2;

  @media (min-width: 992px) {
    margin-left: 50px;
    padding-left: 36px;
  }
}

.main__button {
  @include button($second_color, $main_color, 8px, 15px, 20px);
  font-family: "Avengeance Mightiest Avenger";
  margin-top: 30px;

  @media (min-width: 992px) {
    margin-left: 45px;
  }

  i {
    margin-left: 12px;
  }
}

.button__arrow-down {
  margin-top: 50px;
  align-self: center;
  cursor: pointer;
  background: no-repeat url("../../assets/down.png");
  background-size: contain;
  background-position: center bottom;
  width: 45px;
  height: 45px;
  border: none;
  transition: 0.1s 0.1s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}
