@media (max-width: 992px) {
  .navigation {
    transition: transform 0.3s 0.1s ease-in-out;
  }

  .navigation {
    height: 100vh;
    width: 70vw;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-70vw);
    z-index: 5;
  }

  .navigation--active {
    transform: translateX(0px);
  }

  .navigation__list {
    margin-top: 50px;
    list-style: none;
  }

  .navigation__item {
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  .navigation__user-panel {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: $second-color;
      padding: 0 22px;
      font-size: 25px;
    }
  }
}

@media (min-width: 992px) {
  .navigation {
    height: 85px;
    display: flex;
    align-items: center;
    font-size: 12px;
    align-self: flex-end;
  }

  .navigation__list {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;

    a {
      color: #fff;
      margin: 0 12px;
      padding-top: 10px;
      transition: 0.1s 0.1s ease-in-out;

      &:last-of-type {
        margin-right: 25px;
      }
      &:hover {
        border-top: 20px solid $main_color;
        text-decoration: none;
      }
    }
  }

  .navigation__user-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    background-color: #a80e0e;
    height: 100%;

    i {
      color: #fff;
      padding: 0 22px;
      font-size: 25px;
      transition: 0.1s 0.1s ease-in-out;

      &:first-of-type {
        padding-left: 20px;
      }

      &:hover {
        transform: scale(1.5);
        color: $main_color;
      }
    }
  }
}
