.recipes {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__header,
.recipes__paragraph {
  text-align: center;
}

.recipes__paragraph {
  font-size: 14px;
}

.recipes__header {
  @include header_decoration(45px);

  @media (max-width: 443px) {
    @include header_decoration(80px);
  }
}

.recipes__recipe {
  @extend .card;

  margin: 10px;
  border: none;
}

.recipe__rating {
  i {
    color: $main_color;
    font-size: 14px;
  }
}

.recipe__name {
  font-size: 16px;
}

.recipe__description {
  font-size: 11px;
}

.recipe__button {
  @include button(#fff, $main_color, 8px, 20px, 10px);
  font-family: "Montserrat";
  font-weight: 200;

  i {
    margin-right: 8px; 
  }
}

.recipe__price {
  font-size: 16px;
  font-family: "Avengeance Mightiest Avenger";
  color: $second_color;
}

.recipes__button {
  @include button(#fff, $second_color, 15px, 40px, 14px);
  font-family: "Avengeance Mightiest Avenger";
  margin-top: 50px;
}
