.testimonials {
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.testimonials__header {
  @include header_decoration(45px);
}

.testimonials__paragraph {
  font-size: 14px;
  margin-bottom: 100px;
}

.testimonials__user-avatar {
  position: relative;

  img {
    height: 300px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: $second_color;
    top: 50%;
    left: 10%;
    z-index: -1;

    @media (max-width: 500px) {
      display: none;
    }

    @media (min-width: 992px) {
      top: 50%;
      left: -10%;
    }
  }
}

.testimonials__opinion {
  text-align: left;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  &::after {
    content: "";
    position: absolute;
    background: no-repeat url("../../assets/testimonials_after.svg");
    background-size: contain;
    height: 10px;
    width: 70px;
    top: 100%;
  }

  @media (max-width: 992px) {
    margin-top: 50px;
  }
}

.opinion__text {
  font-size: 14px;
  line-height: 2;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: no-repeat url("../../assets/quote.svg");
    background-size: contain;
    height: 60px;
    width: 60px;
    top: -100%;

    @media (max-width: 992px) {
      top: 0;
      z-index: -1;
      opacity: 0.5;
    }
  }
}

.opinion__author {
  font-size: 20px;

  &::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 50px;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 2px solid $second_color;
  }
}
